# Week 12 Homework - Generate fake data

Extend the class `FakeDataGenerator` and add the following features to the extended class.

* Email address
* Phone number
* Person's name
* Year born. (Use realistic values.)
* Number of kids. (Use realistic values.)
* Marital status. (Single/Married) 
* Annual income. (Optional challenge: Use a non-uniform distribution)

* have a method to write it to a file in csv format

In [1]:
# Use this or replace this with yours from your week10 hw. (It's up to you.)

import pandas as pd
import random
from faker import Faker

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=10):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` length
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
          
        self.fake = Faker()
        
        if df is not None:
            self.df = df
            self.rows = len(df)
        else:
            self.df = pd.DataFrame()
            self.rows = rows
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [random.randint(small_value,high_value) for i in range(self.rows)]
        
        return self.df       
    
        
    def add_name(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.first_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.last_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.email() for i in range(self.rows)]
        
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.phone_number() for i in range(self.rows)]
        
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake address to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.address() for i in range(self.rows)]
        
        return self.df

In [2]:
# complete this
class PocDataGenerator(FakeDataGenerator):
    def year_born(self,column_name):
        self.df[column_name] = [random.randint(1920,2021) for i in range(self.rows)]
        return self.df
    def marital_status(self,column_name):
        self.df[column_name] = [random.choice(['single','married']) if self.df['birth_year'].iloc[i]<=1990 else 'single' for i in range(self.rows)]
        return self.df
    def num_of_kids(self,column_name):
        self.df[column_name] = [random.randint(0,4) if self.df['birth_year'].iloc[i]<=1990 else 0 for i in range(self.rows)]
        return self.df
    def annual_income(self,column_name):
        self.df[column_name] = [random.randint(100000,1000000) for i in range(self.rows)]
        return self.df

In [3]:
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [4]:
g = PocDataGenerator(df)

In [5]:
df = g.add_name('first_name')
g.add_last_name('last_name')
g.add_email('email')
g.add_address('home_address')
g.year_born('birth_year')
g.marital_status('marital_status')
g.num_of_kids('num_of_kids')
g.annual_income('annual_income')

,product_id,first_name,last_name,email,home_address,birth_year,marital_status,num_of_kids,annual_income
0,123,Anthony,Blankenship,melissawhite@gmail.com,"55109 Steven Garden\nPerrymouth, NY 92049",1976,single,3,959198
1,124,Bobby,Wells,marshalljeffrey@hotmail.com,USCGC Robinson\nFPO AA 56791,1933,single,1,211973
2,125,Rachel,Cohen,zhangjoseph@hotmail.com,"899 Murray Lake\nPort Troyberg, HI 91575",1959,single,3,416369
3,126,Heather,Hernandez,priceronald@gmail.com,"888 Romero Camp Suite 117\nPort Samantha, WV 7...",1964,single,1,303864
4,127,Caitlin,Vaughn,susan59@anderson.info,"523 Richard Cliff\nSouth Bianca, NY 84038",1981,single,2,169093
5,128,Hannah,Holland,davidjames@barrera.biz,"134 Hoffman Village Apt. 571\nTamaraport, DE 9...",1974,single,2,524714
6,129,Jacqueline,Smith,edwardharrington@gmail.com,"163 Marshall Prairie Apt. 105\nJohnsonchester,...",1979,single,4,243247
7,130,Debra,Holmes,lewispeter@gmail.com,"2351 Sweeney Crossing\nWest Jessica, GA 68081",1927,married,0,456933
8,131,Paula,Day,sdavis@yahoo.com,"40836 Fleming Port\nSouth Michaelport, NV 42792",1955,single,2,400500
9,132,Alexander,Turner,joshua30@yates.com,"57104 Tiffany Port Suite 110\nChristopherfurt,...",1999,single,0,908039
10,133,David,Eaton,elliottray@yahoo.com,"196 Robert Path Apt. 571\nLake Matthewview, IL...",1983,single,4,650416
11,134,Crystal,Morton,ijohnson@yahoo.com,"98126 Dustin Hills\nLake Lindsayland, NH 77172",2021,single,0,847156
12,135,Melissa,Howell,vholland@rangel.net,"047 English Vista Suite 236\nPort Corychester,...",1987,married,4,528000
13,136,Deborah,King,lcummings@yahoo.com,"90813 Alison Brooks Suite 129\nKarenshire, MT ...",2002,single,0,998304
14,137,Jennifer,Rivera,patrick63@aguilar.biz,"PSC 6045, Box 7510\nAPO AA 32657",1941,married,2,303229
15,138,James,Mills,scottcarter@ward-vargas.biz,"8931 Wood Tunnel Suite 063\nMullinsborough, UT...",1983,single,1,176591
16,139,Nicole,Villa,opacheco@hotmail.com,"09989 Gloria Bypass\nTimothyside, OR 95252",2007,single,0,589424
17,140,Stephanie,Hernandez,brianmccoy@taylor.com,4639 Robert Loop Suite 483\nNorth Carolinefort...,1957,married,0,484791
18,141,Jeffrey,Hicks,torresdonald@hotmail.com,"713 Farrell Expressway\nCookburgh, HI 47047",1974,married,2,964037
19,142,Daniel,Braun,brian40@davis.com,"9778 Paul Crescent\nAustinville, LA 91644",2013,single,0,975373
20,143,Briana,Gallagher,melissahicks@gmail.com,"75925 Morales Hills Suite 018\nSouth Michael, ...",1990,single,3,148579
21,144,Michelle,Patel,kent66@yahoo.com,"477 Robert Meadow\nPort Olivia, MI 21226",2009,single,0,991479
22,145,Megan,Smith,austin53@mills.com,33172 Jessica Drives Apt. 595\nNorth Kristenbo...,1985,married,2,502510
23,146,Emily,Edwards,rebecca54@yahoo.com,"PSC 5562, Box 7981\nAPO AA 79137",1965,married,4,296757
24,147,Benjamin,Davenport,mark47@freeman.info,"95186 Edwards Neck Apt. 311\nClaytonbury, NJ 9...",1996,single,0,956902

In [6]:
df.to_csv (r'C:\Users\ganta\Desktop\dataframe_with_df.csv', index = False, header=True)

In [7]:
g = PocDataGenerator()

In [8]:
df2 = g.add_name('first_name')
g.add_last_name('last_name')
g.add_email('email')
g.add_address('home_address')
g.year_born('birth_year')
g.marital_status('marital_status')
g.num_of_kids('num_of_kids')
g.annual_income('annual_income')

,first_name,last_name,email,home_address,birth_year,marital_status,num_of_kids,annual_income
0,Amanda,Marshall,jeffrey59@castillo.com,"66436 Catherine Burg\nJeremyburgh, NY 64937",1973,married,4,394930
1,Vanessa,Ross,wallerwayne@foster.org,"97300 Lam Passage\nRaymondland, GA 48206",1927,single,4,801624
2,Kevin,Smith,jeanetteclarke@gmail.com,"93316 Torres Spur Apt. 518\nRossside, VT 59296",2008,single,0,507473
3,Gilbert,Valentine,edwardbowen@stone.com,"9687 Parker Shoals Apt. 574\nMullenborough, MS...",1954,married,2,160280
4,Scott,Vargas,katherinebutler@watson.biz,"40288 Michelle Brook\nBergerfort, LA 59149",1971,married,0,669860
5,Adam,Mills,qnichols@buck-fernandez.com,"5321 Hall Island Suite 933\nAnitaport, NE 71812",2006,single,0,628116
6,Thomas,Brewer,debra66@morrow.net,"7318 Kaitlyn Cliffs\nHuangland, WY 79793",1944,single,1,420022
7,George,Taylor,tammy05@williams.net,"6455 Jennifer Isle\nNew Nicolestad, MI 15044",1988,married,1,804102
8,Kimberly,Garcia,robert03@hotmail.com,Unit 0384 Box 5385\nDPO AP 79021,1948,single,1,132135
9,Ronnie,Rogers,wmorrison@hopkins-leach.com,"74327 Jill Forest\nBrewerburgh, AL 71917",2021,single,0,236420

In [9]:
df2.to_csv (r'C:\Users\ganta\Desktop\dataframe_without_df.csv', index = False, header=True)