https://realpython.com/pandas-merge-join-and-concat/

In [1]:
# what do we do if library doesn't exist??
!pip install Faker

Requirement already satisfied: Faker in c:\users\ganta\anaconda3\lib\site-packages (8.13.2)
Requirement already satisfied: text-unidecode==1.3 in c:\users\ganta\anaconda3\lib\site-packages (from Faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\ganta\anaconda3\lib\site-packages (from Faker) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\ganta\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [2]:
from faker import Faker
import pandas as pd
import random

In [3]:
f = Faker()

df1 = pd.DataFrame({
    'id': ['st_' + str(i) for i in range(0, 20)],
    'name': [f.name() for _ in range(0,20)],
    'email' : [f.email() for _ in range(0,20)]
})

In [4]:
df1

       id               name                         email
0    st_0     Nicole Burnett            okirby@wheeler.com
1    st_1     Jennifer Davis       salazarjames@robles.com
2    st_2   Kathy Richardson        evelyncole@hotmail.com
3    st_3       Tim Williams           william43@yahoo.com
4    st_4      Barbara Garza      stephaniehogan@gmail.com
5    st_5     Scott Thompson  schneiderdeborah@hotmail.com
6    st_6      Kristy Booker     gonzalezjustin@fisher.com
7    st_7        Dylan Huber              amoore@gmail.com
8    st_8     Stephanie Snow              bdavis@gmail.com
9    st_9    Dawn Richardson     heatherwilson@hotmail.com
10  st_10     Monica Collier         dunnwilliam@gmail.com
11  st_11          Mark Love           johnklein@wood.info
12  st_12      Gerald Vargas           clittle@hotmail.com
13  st_13   Douglas Galloway      grossmichael@hotmail.com
14  st_14  Christopher Wells             pgarcia@yahoo.com
15  st_15     Herbert Carter           erica57@hotmail.com
16  st_16      Theresa Lucas      darlenemoore@hotmail.com
17  st_17          Bill Hill     courtneyburton@chavez.com
18  st_18      Robert Fisher       perezandrew@hotmail.com
19  st_19       David Abbott              dana80@gmail.com

In [5]:
count = 25

df2 = pd.DataFrame({
    'studentId': ['st_' + str(i) for i in range(5, count)],
    'grade1': [random.randint(50, 100) for _ in range(5,count)],
    'grade2': [random.randint(50, 100) for _ in range(5,count)],
    'grade3': [random.randint(50, 100) for _ in range(5,count)],
})

In [6]:
df2

   studentId  grade1  grade2  grade3
0       st_5      91      87      83
1       st_6      55      51      81
2       st_7      52      97      83
3       st_8      96      79      68
4       st_9      53      69      99
5      st_10      89      96      51
6      st_11      75      82      66
7      st_12      75      79      92
8      st_13      64      59      96
9      st_14      70      80      76
10     st_15      54      97      97
11     st_16      68      59      77
12     st_17      58      61      86
13     st_18      54      83      56
14     st_19      83      60      99
15     st_20      85      56      78
16     st_21      90      96      62
17     st_22      85      96      61
18     st_23      86      91      71
19     st_24      70      67      88

## Merge `df1` and `df2`: if students exist in both data frames

In [18]:
df_merged = pd.merge(df1, df2, how='inner', left_on ='id', right_on='studentId')
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_5,Scott Thompson,schneiderdeborah@hotmail.com,st_5,91,87,83
1,st_6,Kristy Booker,gonzalezjustin@fisher.com,st_6,55,51,81
2,st_7,Dylan Huber,amoore@gmail.com,st_7,52,97,83
3,st_8,Stephanie Snow,bdavis@gmail.com,st_8,96,79,68
4,st_9,Dawn Richardson,heatherwilson@hotmail.com,st_9,53,69,99
5,st_10,Monica Collier,dunnwilliam@gmail.com,st_10,89,96,51
6,st_11,Mark Love,johnklein@wood.info,st_11,75,82,66
7,st_12,Gerald Vargas,clittle@hotmail.com,st_12,75,79,92
8,st_13,Douglas Galloway,grossmichael@hotmail.com,st_13,64,59,96
9,st_14,Christopher Wells,pgarcia@yahoo.com,st_14,70,80,76
10,st_15,Herbert Carter,erica57@hotmail.com,st_15,54,97,97
11,st_16,Theresa Lucas,darlenemoore@hotmail.com,st_16,68,59,77
12,st_17,Bill Hill,courtneyburton@chavez.com,st_17,58,61,86
13,st_18,Robert Fisher,perezandrew@hotmail.com,st_18,54,83,56
14,st_19,David Abbott,dana80@gmail.com,st_19,83,60,99

## Merge `df1` and `df2`: get all students from `df1` and get from `df2` if student exists on `df2`

In [19]:
df_merged = pd.merge(df1, df2, how ='left', left_on ='id', right_on='studentId')
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_0,Nicole Burnett,okirby@wheeler.com,NaN,NaN,NaN,NaN
1,st_1,Jennifer Davis,salazarjames@robles.com,NaN,NaN,NaN,NaN
2,st_2,Kathy Richardson,evelyncole@hotmail.com,NaN,NaN,NaN,NaN
3,st_3,Tim Williams,william43@yahoo.com,NaN,NaN,NaN,NaN
4,st_4,Barbara Garza,stephaniehogan@gmail.com,NaN,NaN,NaN,NaN
5,st_5,Scott Thompson,schneiderdeborah@hotmail.com,st_5,91.0,87.0,83.0
6,st_6,Kristy Booker,gonzalezjustin@fisher.com,st_6,55.0,51.0,81.0
7,st_7,Dylan Huber,amoore@gmail.com,st_7,52.0,97.0,83.0
8,st_8,Stephanie Snow,bdavis@gmail.com,st_8,96.0,79.0,68.0
9,st_9,Dawn Richardson,heatherwilson@hotmail.com,st_9,53.0,69.0,99.0
10,st_10,Monica Collier,dunnwilliam@gmail.com,st_10,89.0,96.0,51.0
11,st_11,Mark Love,johnklein@wood.info,st_11,75.0,82.0,66.0
12,st_12,Gerald Vargas,clittle@hotmail.com,st_12,75.0,79.0,92.0
13,st_13,Douglas Galloway,grossmichael@hotmail.com,st_13,64.0,59.0,96.0
14,st_14,Christopher Wells,pgarcia@yahoo.com,st_14,70.0,80.0,76.0
15,st_15,Herbert Carter,erica57@hotmail.com,st_15,54.0,97.0,97.0
16,st_16,Theresa Lucas,darlenemoore@hotmail.com,st_16,68.0,59.0,77.0
17,st_17,Bill Hill,courtneyburton@chavez.com,st_17,58.0,61.0,86.0
18,st_18,Robert Fisher,perezandrew@hotmail.com,st_18,54.0,83.0,56.0
19,st_19,David Abbott,dana80@gmail.com,st_19,83.0,60.0,99.0

## Merge `df1` and `df2`: get all students from `df2` and get from `df1` if student exists on `df1`

In [20]:
df_merged = pd.merge(df1, df2, how ='right', left_on ='id', right_on='studentId')
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_5,Scott Thompson,schneiderdeborah@hotmail.com,st_5,91,87,83
1,st_6,Kristy Booker,gonzalezjustin@fisher.com,st_6,55,51,81
2,st_7,Dylan Huber,amoore@gmail.com,st_7,52,97,83
3,st_8,Stephanie Snow,bdavis@gmail.com,st_8,96,79,68
4,st_9,Dawn Richardson,heatherwilson@hotmail.com,st_9,53,69,99
5,st_10,Monica Collier,dunnwilliam@gmail.com,st_10,89,96,51
6,st_11,Mark Love,johnklein@wood.info,st_11,75,82,66
7,st_12,Gerald Vargas,clittle@hotmail.com,st_12,75,79,92
8,st_13,Douglas Galloway,grossmichael@hotmail.com,st_13,64,59,96
9,st_14,Christopher Wells,pgarcia@yahoo.com,st_14,70,80,76
10,st_15,Herbert Carter,erica57@hotmail.com,st_15,54,97,97
11,st_16,Theresa Lucas,darlenemoore@hotmail.com,st_16,68,59,77
12,st_17,Bill Hill,courtneyburton@chavez.com,st_17,58,61,86
13,st_18,Robert Fisher,perezandrew@hotmail.com,st_18,54,83,56
14,st_19,David Abbott,dana80@gmail.com,st_19,83,60,99
15,NaN,NaN,NaN,st_20,85,56,78
16,NaN,NaN,NaN,st_21,90,96,62
17,NaN,NaN,NaN,st_22,85,96,61
18,NaN,NaN,NaN,st_23,86,91,71
19,NaN,NaN,NaN,st_24,70,67,88

## Merge `df1` and `df2`: get both records

In [21]:
df_merged = pd.merge(df1, df2, how='outer', left_on ='id', right_on='studentId')
df_merged

,id,name,email,studentId,grade1,grade2,grade3
0,st_0,Nicole Burnett,okirby@wheeler.com,NaN,NaN,NaN,NaN
1,st_1,Jennifer Davis,salazarjames@robles.com,NaN,NaN,NaN,NaN
2,st_2,Kathy Richardson,evelyncole@hotmail.com,NaN,NaN,NaN,NaN
3,st_3,Tim Williams,william43@yahoo.com,NaN,NaN,NaN,NaN
4,st_4,Barbara Garza,stephaniehogan@gmail.com,NaN,NaN,NaN,NaN
5,st_5,Scott Thompson,schneiderdeborah@hotmail.com,st_5,91.0,87.0,83.0
6,st_6,Kristy Booker,gonzalezjustin@fisher.com,st_6,55.0,51.0,81.0
7,st_7,Dylan Huber,amoore@gmail.com,st_7,52.0,97.0,83.0
8,st_8,Stephanie Snow,bdavis@gmail.com,st_8,96.0,79.0,68.0
9,st_9,Dawn Richardson,heatherwilson@hotmail.com,st_9,53.0,69.0,99.0
10,st_10,Monica Collier,dunnwilliam@gmail.com,st_10,89.0,96.0,51.0
11,st_11,Mark Love,johnklein@wood.info,st_11,75.0,82.0,66.0
12,st_12,Gerald Vargas,clittle@hotmail.com,st_12,75.0,79.0,92.0
13,st_13,Douglas Galloway,grossmichael@hotmail.com,st_13,64.0,59.0,96.0
14,st_14,Christopher Wells,pgarcia@yahoo.com,st_14,70.0,80.0,76.0
15,st_15,Herbert Carter,erica57@hotmail.com,st_15,54.0,97.0,97.0
16,st_16,Theresa Lucas,darlenemoore@hotmail.com,st_16,68.0,59.0,77.0
17,st_17,Bill Hill,courtneyburton@chavez.com,st_17,58.0,61.0,86.0
18,st_18,Robert Fisher,perezandrew@hotmail.com,st_18,54.0,83.0,56.0
19,st_19,David Abbott,dana80@gmail.com,st_19,83.0,60.0,99.0
20,NaN,NaN,NaN,st_20,85.0,56.0,78.0
21,NaN,NaN,NaN,st_21,90.0,96.0,62.0
22,NaN,NaN,NaN,st_22,85.0,96.0,61.0
23,NaN,NaN,NaN,st_23,86.0,91.0,71.0
24,NaN,NaN,NaN,st_24,70.0,67.0,88.0